/* Footer
================================================== */

.footer {
    background-color: #1c1c1c;
    color: #969696;
    padding: 70px 20px;
 }
 
 .footer .widget-title {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 35px;
    text-transform: uppercase;
    color: #fff;
 }
 
 .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 .footer ul li {
    margin-bottom: 18px;
 }
 
 .footer ul li a {
    color: #a3a3a3;
    text-decoration: none;
 }
 
 /* Trending */
 
 .footer .post-title.title-small {
    font-weight: normal;
    font-size: 14px;
 }
 
 .footer-widget .post-block-style.post-float .post-thumb img {
    max-width: 95px;
    min-height: 75px;
 }
 
 .footer-widget .post-meta span.post-date {
    color: #676767;
 }
 
 /* Footer Widget Categories */
 
 .footer-widget.widget-categories ul {
    padding-right: 30px;
 }
 
 .footer-widget.widget-categories ul li .catCounter {
    float: right;
 }
 
 /* Twitter Widget */
 
 .twitter-widget ul li {
    position: relative;
    padding-left: 35px;
 }
 
 .twitter-widget ul li:after {
    content: "\f099";
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'FontAwesome';
    color: #a3a3a3;
    font-size: 16px;
 }
 
 .twitter-widget ul li .tweet-text {
    font-size: 13px;
    line-height: 20px;
 }
 
 .twitter-widget ul li .tweet-text span {
    display: block;
    color: #676767;
 }
 
 .twitter-widget ul li .tweet-text a {
    color: #ec0000;
    font-size: 12px;
 }
 
 /*-- Gallery widget --*/
 
 .gallery-widget a {
    overflow: hidden;
    margin: 0 2px 0px 0px;
    display: inline-block;
 }
 
 .gallery-widget a img {
    max-width: 80px;
    min-height: 65px;
 }
 
 /*-- Footer Info --*/
 
 .footer-info-content {
    border-top: 1px solid #606060;
    margin-top: 50px;
    padding: 50px 250px 0;
 }
 
 .footer-info-content p {
    margin-bottom: 2px;
    font-size: 13px;
 }
 
 .footer-logo img {
    display: inline-block;
    margin-bottom: 30px;
 }
 
 .footer-info-phone,
 .footer-info-email {
    display: inline-block;
    margin: 0 5px;
 }
 
 /* Footer social */
 
 .footer .footer-social {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
 }
 
 .footer .footer-social li {
    margin: 0;
 }
 
 .footer-social li a {
    display: inline-block;
    margin: 0 3px;
 }
 
 .footer-social li a i {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    background: #282828;
    text-align: center;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
 }
 
 .footer-social li a i:hover {
    background: #ec0000;
 }
 
 /*-- Copyright --*/
 
 .copyright {
    background: #ec0000;
    color: #fff;
    padding: 15px 0;
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 13px;
 }
 
 .footer-menu {
    float: right;
 }
 
 .footer-menu ul li {
    display: inline-block;
    line-height: 20px;
    padding-left: 12px;
 }
 
 @media (max-width: 992px) {
    .footer-menu ul li {
       padding-top: 12px;
    }
 }
 
 .footer-menu ul.nav li a {
    background: none;
    color: #fff;
    padding: 0;
 }
  /* Footer */
  .footer-widget {
   display: inline-block;
   margin-bottom: 30px;
}
.newsletter-form input {
   width: 90%;
}
.footer-info-content {
   padding: 50px 20px 0;
}
.footer-social li a i {
   margin-bottom: 10px;
}
#back-to-top.affix {
   bottom: 78px;
}
/* Copyright */
.copyright-info {
   text-align: center;
}
.footer-menu {
   float: none;
   text-align: center;
}
.footer-menu .nav {
   display: inline-block;
}
#back-to-top {
   bottom: 0;
   right: 20px;
}
/* Block title */
.block-title {
   font-size: 11px;
}
.block-title>span {
   padding: 9px 10px;
}
.featured-tab .nav-tabs>li>a {
   font-size: 12px;
}
/* Category style */
.category-style2 .post-thumb {
   margin-bottom: 20px;
}


/* Extra Small Devices, Phones */

@media (max-width: 479px) {}

/* Custom, iPhone Retina */

@media (max-width: 320px) and (max-width: 478px) {}
 